
body { background-color: black !important; color:white; text-align:center; }

/* Hyperlinks */
a { text-decoration:none !important; color:aqua !important; }
a:visited { color:initial; }

/* Headers */
.dtkAction { font-size: 2rem; }

/* Register page */
#setupAccountButton { background-color: blue; color:white;}
.message { font-size: 1.5rem;}
.message.note { font-style: italic; width:80%; margin:auto; font-size: 1rem; }