
body { background-color: black !important; color:white; text-align:center; }

/* Hyperlinks */
a { text-decoration:none !important; color:aqua !important; }
a:visited { color:initial; }

/* Headers */
h2 { font-size:200%; padding:0.5%; }

.sub-message { font-style:italic; font-size:80%; width:80%; margin:auto; }
#setupAccountButton { background-color: blue; color:white;}