/* Padding */
.padding-none {
  padding: 0%;
}
.padding-1 {
  padding: 1%;
}
.padding-1r {
  padding: 1rem;
}
.padding-2 {
  padding: 2%;
}
.padding-3 {
  padding: 3%;
}
.padding-4 {
  padding: 4%;
}
.padding-5 {
  padding: 5%;
}
.padding-top-1 {
  padding-top: 1%;
}
.padding-top-2 {
  padding-top: 2%;
}
.padding-top-3 {
  padding-top: 3%;
}
.padding-right-1 {
  padding-right: 1%;
}
.padding-right-2 {
  padding-right: 2%;
}
.padding-right-3 {
  padding-right: 3%;
}
.padding-bottom-1 {
  padding-bottom: 1%;
}
.padding-bottom-2 {
  padding-bottom: 2%;
}
.padding-bottom-3 {
  padding-bottom: 3%;
}
.padding-left-1 {
  padding-left: 1%;
}
.padding-left-2 {
  padding-left: 2%;
}
.padding-left-3 {
  padding-left: 3%;
}
.padding-left-4 {
  padding-left: 4%;
}
.padding-left-5 {
  padding-left: 5%;
}
.padding-right-1 {
  padding-right: 1%;
}
.padding-right-2 {
  padding-right: 2%;
}
.padding-right-3 {
  padding-right: 3%;
}
.padding-right-4 {
  padding-right: 4%;
}
.padding-right-5 {
  padding-right: 5%;
}

/* Laptops */
@media (min-width: 1024px) {
  /* Padding */
  .padding-top-1-laptop {
    padding-top: 1%;
  }
  .padding-top-2-laptop {
    padding-top: 2%;
  }
  .padding-top-3-laptop {
    padding-top: 3%;
  }
  .padding-right-1-laptop {
    padding-right: 1%;
  }
  .padding-right-2-laptop {
    padding-right: 2%;
  }
  .padding-right-3-laptop {
    padding-right: 3%;
  }
  .padding-bottom-1-laptop {
    padding-bottom: 1%;
  }
  .padding-bottom-2-laptop {
    padding-bottom: 2%;
  }
  .padding-bottom-3-laptop {
    padding-bottom: 3%;
  }
  .padding-left-1-laptop {
    padding-left: 1%;
  }
  .padding-left-2-laptop {
    padding-left: 2%;
  }
  .padding-left-3-laptop {
    padding-left: 3%;
  }
  .padding-left-4-laptop {
    padding-left: 4%;
  }
  .padding-left-5-laptop {
    padding-left: 5%;
  }
}

/* Larger Laptops/Desktops */
@media (min-width: 1600px) {
  /* Padding */
  .padding-top-1-desktop {
    padding-top: 1%;
  }
  .padding-top-2-desktop {
    padding-top: 2%;
  }
  .padding-top-3-desktop {
    padding-top: 3%;
  }
  .padding-right-1-desktop {
    padding-right: 1%;
  }
  .padding-right-2-desktop {
    padding-right: 2%;
  }
  .padding-right-3-desktop {
    padding-right: 3%;
  }
  .padding-bottom-1-desktop {
    padding-bottom: 1%;
  }
  .padding-bottom-2-desktop {
    padding-bottom: 2%;
  }
  .padding-bottom-3-desktop {
    padding-bottom: 3%;
  }
  .padding-left-1-desktop {
    padding-left: 1%;
  }
  .padding-left-2-desktop {
    padding-left: 2%;
  }
  .padding-left-3-desktop {
    padding-left: 3%;
  }
  .padding-left-4-desktop {
    padding-left: 4%;
  }
  .padding-left-5-desktop {
    padding-left: 5%;
  }
}
